<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>
<%= link_to "friends", "friends_bookmarks", class: "btn btn-primary" %>
<% if current_user %>
  <div class="" align='center'>
    <%= form_tag bookmarks_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </div>
  <% @bookmarks.each do |bookmark| %>
    <a href="<%= bookmark.url %>">
      <div class="">
        <%= image_tag "#{bookmark.sc_shot}" %>
        <br>
        <%= image_tag "#{bookmark.logo}" %>
        <%= bookmark.name[0..20] %>
        <%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </a>
  <% end %>
  <br>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
  <%= link_to 'New Bookmark', new_bookmark_path %>
<% end %>
<% end %>
